// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "node_modules/font-awesome/scss";

@btn-font-weight : 300;
@font-family-sans-serif : "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
  font-weight: 300;
  font-size: 12px !important;
}

#privilegepnl{
  h5{
    margin-top: 20px;
  }
}

.list-group-item {
  // Disabled state
  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    background-color: $list-group-disabled-bg;
    color: $list-group-disabled-color;
    cursor: $cursor-disabled;

    // Force color to inherit for custom content
    .list-group-item-heading {
      color: inherit;
    }
    .list-group-item-text {
      color: $list-group-disabled-text-color;
    }
  }

  // Active class on item itself, not parent
  &.active,
  &.active:hover,
  &.active:focus {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: #93aec1;
    border-color: #ffffff;

    // Force color to inherit for custom content
    .list-group-item-heading,
    .list-group-item-heading > small,
    .list-group-item-heading > .small {
      color: inherit;
    }
    .list-group-item-text {
      color: $list-group-active-text-color;
    }
    .badge{
      color: #ffffff;
    }
  }
}

.list-group-sub-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  // Place the border on the list items and negative margin up for better styling
  margin-bottom: -1px;
  background-color: $list-group-bg;
  border: 1px solid $list-group-border;

  // Round the first and last items
  &:first-child {
    @include border-top-radius($list-group-border-radius);
  }
  &:last-child {
    margin-bottom: 0;
    @include border-bottom-radius($list-group-border-radius);
  }

  // Disabled state
  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    background-color: $list-group-disabled-bg;
    color: $list-group-disabled-color;
    cursor: $cursor-disabled;

    // Force color to inherit for custom content
    .list-group-sub-item-heading {
      color: inherit;
    }
    .list-group-sub-item-text {
      color: $list-group-disabled-text-color;
    }
  }
  // Active class on item itself, not parent
  &.active,
  &.active:hover,
  &.active:focus {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: #9da2a5;
    border-color: #ffffff;
    padding: 5px 15px 6px 30px;

    // Force color to inherit for custom content
    .list-group-sub-item-heading,
    .list-group-sub-item-heading > small,
    .list-group-sub-item-heading > .small {
      color: inherit;
    }
    .list-group-sub-item-text {
      color: $list-group-active-text-color;
    }
    .badge{
      color: #ffffff;
      float: right;
    }
  }
}

.item2{
  background-color: #c8bfd8 !important;
}

.badge{
  background-color: #ff001f !important;
  margin-left: 5px;
  color: #ffffff;
}

$red: #ee001d;
$green: #008000;
$mobile: "(max-width: 768px)";

.error{
  color: $red;
}
.error_tr{
  background-color: #ff5459;
  color: #ffffff;
}
.btn{
  font-size: 11px !important;
}

.fa-check{
  color: $green !important;
}

footer {
  background-color: #585858;;
  text-align: center;
  padding: 20px 15px 15px 15px;

  p {
    color: #fff;
  }
}

.navbar-brand {
  img {
    display: block;
    width: 130px;
    margin-top: -10px;
  }
}

.navbar-default {
  background-color: #f7f7f7;
  border-color: #d3e0e9;
}

.panel-default {
  .panel-heading {
    color: #333333;
    background-color: #dfe8ee;
    border-color: #d3e0e9;
  }
}

.form-horizontal {
  margin-bottom: 30px;
}

.form-group {
  label {
    font-weight: 600;
  }
}

thead {
  h5 {
    font-weight: 600;
  }
}