// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "node_modules/font-awesome/scss";

@btn-font-weight : 300;
@font-family-sans-serif : "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
  font-weight: 300;
}

.badge{
  background-color: #ff001f !important;
  margin-left: 5px;
}

$red: #ee001d;
$green: #008000;
$mobile: "(max-width: 768px)";

.error{
  color: $red;
}



.fa-check{
  color: $green !important;
}

footer {
  background-color: #585858;;
  text-align: center;
  padding: 20px 15px 15px 15px;

  p {
    color: #fff;
  }
}

.navbar-brand {
  img {
    display: block;
    width: 130px;
    margin-top: -10px;
  }
}

.navbar-default {
  background-color: #f7f7f7;
  border-color: #d3e0e9;
}

.panel-default {
  .panel-heading {
    color: #333333;
    background-color: #dfe8ee;
    border-color: #d3e0e9;
  }
}

.form-horizontal {
  margin-bottom: 30px;
}

.form-group {
  label {
    font-weight: 600;
  }
}

thead {
  h5 {
    font-weight: 600;
  }
}