@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.thumbnail {
	margin-bottom: 30px;

	> img, a > img {
		width:235px;
    	height: 145px;
	}
}

.jumbotron {
	background-color:#fbfbfb !important;
}