@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.thumbnail {
	margin-bottom: 30px;

	> img, a > img {
		width:235px;
    	height: 145px;
	}
}

.navbar{
	margin-bottom: 0px;
}
.jumbotron {
	background-color:#fbfbfb !important;
}

.orange-background{
	background-color: #FFA312;
	//padding: 60px;
}
.orange-gradiant-background{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa312+0,000000+100&0.65+0,0+63 */
	background: -moz-linear-gradient(top,  rgba(255,163,18,0.65) 0%, rgba(94,60,7,0) 63%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,163,18,0.65) 0%,rgba(94,60,7,0) 63%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,163,18,0.65) 0%,rgba(94,60,7,0) 63%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffa312', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.white-background{
	background-color:#ffffff;
	padding-top: 30px;
	min-height: 528px;
}

footer{
	background-color: silver;
	p{
		padding-top: 20px;
	}
}